<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="accessibility-outline" ></ion-icon>  Calcular IMC  </ion-title>
  </ion-toolbar>
</ion-header>
<ion-progress-bar color="danger"  type="buffer"></ion-progress-bar>


<ion-content class="container">

  <ion-grid>

      <ion-col>
        <ion-item>
          <ion-label color="danger" position="floating">Altura</ion-label>
          <ion-input color="danger" type="number" [(ngModel)]="imc.altura"></ion-input>
        </ion-item>
      </ion-col>



  
      <ion-col>
        <ion-item>
          <ion-label color="danger" position="floating">Peso</ion-label>
          <ion-input  color="danger" type="number" [(ngModel)]="imc.peso"></ion-input>
        </ion-item>
      </ion-col>
      
  </ion-grid>

  <ion-button expand="full" fill="solid" color="danger" (click)="calcular()">Calcular</ion-button>

  <hr size = 20 color="white">
  <hr size = 20 > 
  <br/> <br/>


    <ion-col>
      <ion-item>
        <h2 class="result">RESULTADO:</h2>
          <hr size = 20 color="white">
          <hr size = 20 > 
          <br/> <br/>
        <h2> {{ resultado }}</h2>
      </ion-item>
    </ion-col>  


</ion-content>
<h3>by: Mat0C</h3>